$mycolor: #fff200;
$size: 40;
$size_2: #{$size/2};

.circle {
	background-color: $mycolor;
	position: absolute;
	top: calc(28% - #{$size_2}px);
	left: calc(61% - #{$size_2}px);
	border-radius: #{$size_2}px;
	border: 3px solid white;
	box-shadow: 0 0 2px #333;
	width: #{$size}px;
	height: #{$size}px;
}